body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to bottom right, #2d3041, #1c1f2b);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    text-align:center;
    margin-top:20px;
}

.titulo h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color:orange;
    border: 2px solid orange;
    border-radius:10px;
    margin:20px auto;
    padding:10px 30px;
}

form{
    width:90vw;
    display:table;
    border: 2px solid white;
    border-radius:10px;
    padding:50px 0;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color:white;
    margin-right: 10px;
}

.star-red::after {
    content:"*";
    margin-left:5px;
    color:#f00;
}

input, select{
    padding:8px 10px;
    border-radius:10px;
    border-bottom: orange;
    border:none;
    margin-right:60px;
}
.campo-nome, .campo-endereco{
    width:30%;
}

.campo-numero{
    width:5%;
}

.campo-complemento{
    width: 10%;
}

.grupo1, .grupo2, .grupo3, .grupo4, .grupo5{
    margin-bottom: 25px;
    margin-left:90px;
}

#btn-concluir{
    background-color: orange;
    padding: 15px 20px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top:30px;
}

#btn-concluir:hover{
    background-color: darkorange;
    transition: 0.2s;
    font-size:22px;
}

::placeholder{
    font-size: 15px;
}

select{
    font-size: 17px;
}
